## GOTCHA!!

Yes this is literally a notebook where I run tests, I literally do not know how coding tests work.

In [49]:
import pandas as pd
import gc

def str2dt(df, timeCol='', drop=True, index_name="Timestamp", **datetime_args):
    """
Finds the timestamp in a dataframe, translates it to_datetime, renames it "Timestamp", and sets it as the index
Bumps the index to the first column if it isn't a timestamp

Parameters:
df: DataFrame, required
timeCol: string, Default: empty

Returns: DataFrame
    """
    df = df.copy()
    gc.collect()

    commonNames = ['timestamp', 'Date/Time', 'Date', 'Time']
    names = [timeCol] if timeCol else commonNames
    df.reset_index(inplace=True, drop=drop)
    
    # Get matches with names in the df
    matches = [col for col in set(df.columns) if col.lower() in (name.lower() for name in names)]

    if not matches:
        raise Exception(f"No timestamp columns found.")
    elif len(matches) > 1:
        raise Exception(f"There are multiple possible timestamps in your df, shown here:\n{matches}")
    else:
        df[index_name] = pd.to_datetime(df[matches[0]], **datetime_args)
        df.set_index(df[index_name], drop=True, inplace=True)
        df.drop([index_name, matches[0]], axis=1, inplace=True, errors='ignore')
    return df

In [50]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
# df['time'] = ['2021-01-01 00:00:00', '2021-01-01 01:00:00', '2021-01-01 02:00:00']
df['Time'] = ['2021-01-01 00:00:00', '2021-01-01 01:00:00', '2021-01-01 02:00:00']
df.columns

Index(['A', 'B', 'C', 'Time'], dtype='object')

In [51]:
timeCol="Time"
commonNames = ['timestamp', 'Timestamp', 'Date/Time', 'Date', 'Time']
names = [timeCol] if timeCol else commonNames

matches = list(set(map(str.lower, df.columns)) & set(map(str.lower, names)))
matches

# list(map(str.lower, df.columns))

['time']

In [52]:
set(df.columns)
df

   A  B  C                 Time
0  1  4  7  2021-01-01 00:00:00
1  2  5  8  2021-01-01 01:00:00
2  3  6  9  2021-01-01 02:00:00

In [53]:
df

   A  B  C                 Time
0  1  4  7  2021-01-01 00:00:00
1  2  5  8  2021-01-01 01:00:00
2  3  6  9  2021-01-01 02:00:00

In [55]:
str2dt(df, index_name='skdjfh')

                     A  B  C
skdjfh
2021-01-01 00:00:00  1  4  7
2021-01-01 01:00:00  2  5  8
2021-01-01 02:00:00  3  6  9